<!DOCTYPE html>
<html>
<head>
    <title>Report Options</title>
    <style>
        .font-class{
            font-size: xxx-large;
        color: ghostwhite;
        }
    </style>
</head>
<body style="background-image:url('/images/patient-entry.jpg');background-repeat: no-repeat; background-size: cover"></body>
  
    <h1 style="font-size: xx-large;
    color:bisque;">Report Options</h1>
    <ul>
        <li><a class="font-class" href="/reports/createReport">Create  Patient Report</a></li>
        <li><a class="font-class" href="/reports/all">Fetch All Reports</a></li>
        <li><a class="font-class" href="/reports/view-status">Fetch Reports by Status</a></li>
    </ul>
    <a  style="font-size: xx-large;
    color:bisque;" href="/">Back to Home</a>
</body>
</html>
