<!DOCTYPE html>
<html>
<head>
    <title>Healthcare Management System</title>
</head>
<body style="background-image:url('/images/main-entry.jpg');background-repeat: no-repeat; background-size: cover">
    <h1>Welcome to the Healthcare Management System</h1>
    <ul>
        <li style="text-align:center;font-size:xx-large;font-color:dark-blue">
            <a href="/doctors">Doctor</a>&nbsp;&nbsp;&nbsp; 
            <a href="/patients">Patient</a>&nbsp;&nbsp;&nbsp;
            <a href="/reports">Report</a></li>
        </li>
       
    </ul>
</body>
</html>