<!DOCTYPE html>
<html>
<head>
    <title>Doctor Details</title>
    <style>
        .font-class{
            font-size: xx-large;
            color: ghostwhite;
        }
    </style>
</head>
<body style="background-image:url('/images/doctor-bg.jpg');background-repeat: no-repeat; background-size: cover">
    <h1>Doctor Details</h1>
    <p class="font-class" >Name: {{doctor.name}}</p>
    <p class="font-class" >Email: {{doctor.email}}</p>
    <p class="font-class" >Specialty: {{doctor.specialty}}</p>
    <a  style="font-size: xx-large;
    color: darkblue;" href="/doctors/all">Back to All Doctors</a>
</body>
</html>
