{{!-- <!DOCTYPE html>
<html>
<head>
    <title>Doctor Options</title>
</head>
<body>
    <h1>Doctor Options</h1>
    <ul>
        <li><a href="/doctors/register">Register as a Doctor</a></li>
        <li><a href="/doctors/login">Login as a Doctor</a></li>
        <li><a href="/doctors/all">View All Doctors' Details</a></li>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html> --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            width: 100%;
            height: 100%;
        }
        .font-style{
            font-size: larger;
            font-style: italic;
        }
      
    </style>
</head>
<body style="background-image: url('/images/doctor-entry.jpg');background-repeat: no-repeat; background-size: cover;">
   
    <h1>Doctor Options</h1>
    <ul class="font-style">
        <li><a href="/doctors/register" style="color: floralwhite;
    font-size: xx-large;">Register as a Doctor</a></li>
        <li><a href="/doctors/login" style="color: floralwhite;
    font-size: xx-large;">Login as a Doctor</a></li>
        <li><a href="/doctors/all" style="color: floralwhite;
    font-size: xx-large;">View All Doctors' Details</a></li>
    </ul>
    <a href="/" style="color: darkblue;
    font-size: xx-large;">Back to Home</a>
</body>
</html>
